a {
    text-decoration: none;
    
}

p,
h2 {
    color: aliceblue;
    font-family: 'poppins',sans-serif;
    font-size: 18px;
}

body {
    background-color: #282725;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    align-items: center;
    padding: 10px;
}

.logo {
    width: 15%;
}

.left {
    width: 10%;
    padding-left: 2%;
    display: flex;
    justify-content:right;
}

.middle{
    padding-left: 2%;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.middle > a,
.left > a {
    color: white;
    margin-right: 7%;
}

.logo> h1 {
    color: #c0977c;
}

.text1 {
    width: 70%;
    margin: auto;
    align-items: center;
    text-align: center;
    padding-bottom: 7em;
}

.text1 h2 {
    font-family: 'Cormorant',sans-serif;
    font-size: 76px;
    font-weight: 700;
}

.text1 p {
    font-family: 'Cormorant',sans-serif;
    font-size: 30px;
    font-weight: 700;
}

.secondpart {
    background-color: #FFF;
}

.second,
.third {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding-top: 7em;
    padding-bottom: 4em;
}

.sectext {
    width: 40%;
}

.sectext h2,
.thirdtext h2 {
    font-family: 'Cormorant',sans-serif;
    font-size: 56px;
    color: #282725;
}

.sectext p,
.thirdtext p {
    font-family: 'Poppins',sans-serif;
    font-size: 18px;
    color: #282725;
}

.sectext button {
    width: 13em;
    height: 5em;
    background-color: #c0977c;
    border-radius: 7px;
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
}

.pasta img {
    border-radius: 20em 20em 0em 0em ;
    width: 80%;
}

.thirdpart {
    background-color: #f0f0f0;
}

.third {
    width: 70;
    margin: auto;
    justify-content: space-between;
}

.pastaimg img {
    width: 90%;
    border-radius: 20em 20em 0em 0em ;
}

.thirdtext {
    width: 50%;
    align-items: center;
    text-align: center;
    padding-top: 10%;
}

.lastpart {
    position: relative;
    overflow: hidden; /* Hide content that overflows */
    height: 80vh; /* Set the height of the section */
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../imgs/Pasta-2.webp');
    background-size: cover; /* Adjust the background sizing */
    background-attachment: fixed; /* Keep the background fixed */
    z-index: -1; /* Place the background behind the content */
}

.text3 {
    width: 50%;
    margin: auto;
    position: relative;
    padding-top: 10em;
    z-index: 1; /* Place the content above the background */
    /* Other styling for the content */
}


.text3 h2 {
    color: #443f3b;
    font-size: 56px;
    font-family: 'cormorant', sans-serif;
}

.text3 h3 {
    color: #FFF;
    font-size: 31px;
    font-family: 'cormorant', sans-serif;
}

.lowNav {
    display: flex;
}

footer {
    width: 80%;
    margin: auto;
}

.text3 > button {
    background-color: black;
    width: 15em;
    height: 4em;
    color: #fff;
    border: #c0977c solid;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}


