
a {
    text-decoration: none;
    
}

p,
h2 {
    color: aliceblue;
    font-family: 'poppins',sans-serif;
    font-size: 18px;
}

body {
    background-color: #282725;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    align-items: center;
    padding: 10px;
}

.logo {
    width: 15%;
}

.left {
    width: 10%;
    padding-left: 2%;
    display: flex;
    justify-content:right;
}

.middle{
    padding-left: 2%;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.middle > a,
.left > a {
    color: white;
    margin-right: 7%;
}

.logo> h1 {
    color: #c0977c;
}

#home {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
}

.text1 {
    margin-top: 20%;
    text-align: center;
}

.text1 > h2 {
    font-family: 'Cormorant', sans-serif;
    font-size: 75px;
}

.text2 {
    width: 50%;
    margin-left: 5%;
}

.text2 > h2 {
    font-family: 'Cormorant', sans-serif;
    font-size: 60px;
}

.home1{
    background-color: #32302f;
}
.about {
    display: flex;
    width: 90%;
    margin: auto;
}

.about img {
    width: 40%;
    height: auto;
}

.gallery {
    background-color: #FFF;
}

.gallerytext> h2 {
    color: black;
    font-family: 'cormorant', sans-serif;
    width: 25%;
    font-size: 56px;
    padding:10% 0% 0% 5%

}

.tab {
    width: 30%;
}

.tab > h2,
.tab > p {
    color: black;
}

.slides {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    align-items: center;
}

.text1 > button,
.text2 > button {
    background-color: black;
    width: 15em;
    height: 4em;
    color: #fff;
    border: #c0977c solid;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.youtube{
    background-color: #FFF;
    padding-top: 3em;
    padding-bottom: 2em;
}
.youtube1 {
    width: 40%;
    margin: auto;
    align-items: center;
    text-align: center;
}

.youtube1 > h2 {
    color: black;
    font-family: 'cormorant', sans-serif;
    font-size: 56px;

}