
a {
    text-decoration: none;
    
}

p,
h2 {
    color: aliceblue;
}

body {
    background-color: #282725;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    align-items: center;
    padding: 10px;
}

.logo {
    width: 15%;
}

.left {
    width: 10%;
    padding-left: 2%;
    display: flex;
    justify-content:right;
}

.middle{
    padding-left: 2%;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.middle > a,
.left > a {
    color: white;
    margin-right: 7%;
}

.logo> h1 {
    color: #c0977c;
}

#home {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
}

.text1 {
    margin-top: 20%;
    text-align: center;
}

.text1 > h2 {
    font-family: 'Cormorant', sans-serif;
    font-size: 75px;
}